/* Login Page*/
body {
  background-image: url("../img/signin-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.forma {
  width: 50%;
  margin: auto;
  padding: 10px;
  background: #353535ce;
  border-radius: 5px;
  color: white;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: white;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #cacaca;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #f7c08a;
}

.tex_align {
  text-align: center;
}
.sign_in_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: auto;
  width: 100vw;
}
